body{
    margin-left: 1.5em;
    font-family: 'Garamond', serif;
}
h3{
    font-family: 'Georgia', serif;
}
p, #label{
    font-size: 0.9em;
    line-height: 0.3;
}
#p1{
    margin-top: -0.5em;
}
#input{
    font-family: 'Georgia', serif;
    font-size: 0.9em;
    width: 5em;
    height: 1.3em;
    border: 1px solid black;
    border-radius: 7px;
    margin-left: 0.7em;
}
#button{
    margin-top: 1em;
    background-color: aquamarine;
    font-family: 'Georgia', serif;
    font-size: 0.8em;
    width: 6em;
    height: 1.7em;
    border: 1px solid black;
    border-radius: 7px;
    margin-left: 0.7em;
}